body {
    background-color: #f0f0f2;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#rlifesrc {
    background-color: #fff;
    border-radius: 1em;
    margin: 1em auto;
    padding: 20px;
    width: 800px;
}

pre {
    background-color: #eee;
    font-family: monospace;
    font-size: 16px;
    margin-top: 8px;
    max-height: 300px;
    overflow: auto;
}

#settings {
    margin-top: 10px;
    width: 300px;
}

.setting {
    padding: 4px;
}

.label, #generation {
    display: inline-block;
    margin-right: 0.5em;
    text-align: right;
    width: 80px;
}

input, select {
    box-sizing: border-box;
    width: 200px;
}

#generation {
    width: auto;
}

#set_generation {
    width: 100px;
}
